<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create order</title>
</head>
<body>
<form action="#" th:action="@{/orders/order-create}" th:object="${orderDTO}" method="post">
    <label for="email">email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="email">
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error</div>
    <br/>
    <label for="countOfProduct">countOf</label>
    <input type="text" th:field="*{countOfProduct}" id="countOfProduct" placeholder="enter countOf">
    <div style="color:red" th:if="${#fields.hasErrors('countOfProduct')}" th:errors="*{countOfProduct}">Name Error</div>
    <br/>
    <label for="productId">product</label>
    <select th:field="*{productId}" name="product" id="productId">
<!--        <option value="null">select product</option>-->
        <option th:each="product : ${products}" th:value="${product.id}"  th:text="${product.name}"></option>
    </select>
    <br/>
<!--    <input type="text" th:field="*{productId}" id="productId" placeholder="select product">-->
    <div style="color:red" th:if="${#fields.hasErrors('productId')}" th:errors="*{productId}">Name Error</div>
    <br/>


    <input type="submit" value="Create order">
</form>
</body>
</html>
<!--<label>email <input type="text" name="numberOfProducts" value="${order.customerEmail}"  placeholder="customer Email">-->
<!--</label>-->